body,html {
    height:100%;
    margin:0;
    font-size: 16px;
    font-family: "Lato",sans-serif;
    font-weight:400;
  line-height: 1.8em;
  color:#666;
  background-color: #b6f8ef;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}
.topnav a {
    float: left;
    color: #1affa3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:17px
}

.topnav a:hover {
    background-color: #ddd;
    color:black
}
.topnav a.active {
    background-color: #ffe066;
    color:black;
}
.ping1, .ping2, .ping3 {
    position:relative;
    opacity: 0.70; background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ping1 {
    background-image: url('galaxy.jpg');
    min-height:100%;
}


.ping2 {
    background-image: url('galaxy2.jpg');
    min-height: 400px;
}

.ping3 {
    background-image: url('galaxy3.jpg');
    min-height: 400px;
}

.section {
    text-align: center;
    padding:50px 80px;
}

.section-light{
    background-color: #f4f4f4;
    color:#666;
}

.section-dark {
    background-color: #282e34;
    color:#ddd;
}

.ptext {
    position:sbsolute;
    top:50%;
    width:100%;
    text-align:center;
color:#000;
font: size 27px;
letter-spacing: 8px;
text-transform:uppercase;
}

     .ptext .border {
        background-color: #111;
        color:#fff;
        padding:20px;
     }

     .ptext .border.trans {
        background-color: transparent;
     }
    
     @media(max-width:568px){
        .ping1, .ping2, .ping3 {
            background-attachment: scroll;
        }
     }